<div class="container">
  <h1 style="text-align:center; padding: 100px 0;">Home Page is Working! 🌈</h1>
  <p style="text-align:center;">If you see this, the "One-by-One" build is successful so far.</p>
</div>

{% schema %}
{ "name": "Main Index" }
{% endschema %}
